<section id="swiper-aut-parts">
    <!-- Swiper Type-->
    <div class="swiper-container" id="swiper-aut-parts">
        <div class="swiper-wrapper">
        </div>

        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>

        <!-- Navigation -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</section>

<main id="main">
    <!-- TYPE -->
    <section id="type" class="type section-bg">
        <div class="container">
            <div class="section-title" data-aos="fade-up">
                <h2><strong>Types</strong></h2>
            </div>
                <div id="types-carousel" class="swiper">
                    <div class="container_Types swiper-wrapper"></div>
                    
                    <div class="swiper-pagination"></div>

                    
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
        </div>
    </section>
    <!-- End Type Section -->

    <!-- CATEGORIES -->
    <section>
        <div class="empty"></div>
    </section>
    <section id="category" class="category section-bg">
        <div class="container">
            <div class="section-title" data-aos="fade-up">
                <h2><strong>Categories</strong></h2>
            </div>
                <div id="categories-carousel" class="swiper">
                    <div class="container_Categories swiper-wrapper"></div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>

                    <!-- Navigation -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
        </div>
    </section>
    <!-- End Categories Section -->

    <section>
        <div class="empty"></div>
    </section>

    <!-- OPERATIONS -->
    <section id="operation" class="operations section-bg">
        <div class="container">
            <div class="section-title" data-aos="fade-up">
                <h2><strong>Operations</strong></h2>
            </div>
            <div class="row" id="containerOperations">
            </div>
        </div>
    </section>
    <!-- End Operations Section -->

    <section>
        <div class="empty"></div>
    </section>

    <section id="cities" class="city section-bg">
        <div class="container">
            <div class="section-title" data-aos="fade-up">
                <h2><strong>Cities</strong></h2>
            </div>
            <div class="row" id="containerCities">
                <div class="city-slider swiper">
                    <div class="swiper-wrapper ">

                    </div>

                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
    </section>

    <!-- End Cities Section -->

    <section>
        <div class="empty"></div>
    </section>

    <!-- RECOMMENDATIONS -->
    <section id="recommendations" class="recommendations section-bg">
        <div class="container">
            <div class="section-title" data-aos="fade-up">
                <h2><strong>Recommendations</strong></h2>
            </div>
            <div class="row" id="containerRecommendations">
            </div>
        </div>
    </section>
    <!-- End Recommendations Section -->

    <section>
        <div class="empty"></div>
    </section>

    <!-- MOST VISTED -->
    <section id="mostVisited" class="mostVisited section-bg">
        <div class="container">
            <div class="section-title" data-aos="fade-up">
                <h2><strong>MOST VISITED</strong></h2>
            </div>
            <div class="row" id="containerMostVisited">
            </div>
        </div>
    </section>
    <!-- End MOST VISITED Section -->

    <section>
        <div class="empty"></div>
    </section>

    <!-- LAST SEARCHES -->
    <section id="lastSearch" class="lastSearch section-bg">
        <div class="container">
            <div class="section-title" data-aos="fade-up">
                <h2><strong>LAST SEARCHES</strong></h2>
            </div>
            <div class="row" id="containerLastSearch">
            </div>
        </div>
    </section>
    <!-- End LAST SEARCHES Section -->

    </section>
</main>

