<html>

<body class="body_cart">
    <section>
        <div class="shopping-cart">
            <h1>Shopping Cart</h1>
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th class="column-housing">Housing</th>
                            <th class="column-products">Products</th>
                            <th class="column-price">Price</th>
                            <th class="column-quantity">Quantity</th>
                            <th class="column-cancel">Cancel</th>
                        </tr>
                    </thead>
                    <tbody id="productTableBody" class="cart__products">
                        <!-- Las filas de productos se añadirán aquí dinámicamente -->
                    </tbody>
                </table>
                <div class="total-price-container">
                    <span class="total-price-label">Total Price:</span>
                    <span class="total-price-value-cart"></span>
                </div>
                <div class="checkout-container">
                    <button class="checkout-button">Checkout</button>
                </div>
            </div>
        </div>
    </section>
    
</body>
</html>