  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container_header d-flex align-items-center">

      <h1 class="logo me-auto"><a href="?module=home&op=view"><span>hsng</span>project</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <!-- <div class="div_search">
        <select class="search_type"></select>
        <select class="search_category"></select>
        <div class="filter_searchCity">
          <input type="text" id="autocom" autocomplete="off" placeholder="City" />
          <div id="search_auto"></div>
        </div>
        <input type="button" value="search" id="search-btn" class="btna third" />
      </div> -->
      
      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <div class="border-separate"></div>
      
    </div>
  </header><!-- End Header -->