<html>

<body>
    <section>
        <!-- list-housings -->
        <section class="section_details" id="section_details">
            <div class="filters"></div>
        </section>

        <div class="contenedor col-lg-12">
            <div class="container_shop col-lg-7" id="content_shop_housings">
                
            </div>
            <div class="map-wrapper col-lg-4">
                <div id="map" class="mt-4"></div>
            </div>
        </div>
        <div id="pagination"></div>

        <!-- details-housing -->
        <div id="details-shop" class="details-shop">
            <div class="date_img" id="container-date-img_1"> <!--container-date-img-->
                
            </div>

            <div class="date_housing" id="container-date-img"> </div>
            <!-- <div id="map1"></div> -->
        </div>
    </section>
    </head>

</body>

</html>

